@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&family=JetBrains+Mono:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 10px 0;
  background-color: transparent;
  font-family: "Noto Serif SC", serif;
  color: var(--text-main);
  font-size: 14px;
}
